body {
  background: #6c91cf;
}

/* installlningar för alla containers */
 .container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

/* installlningar för navigation bar container */
.navbar .container {
  display: flex;
  background: #3474e6;
  color: #fff;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}


.navbar a {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  margin-left: 20px;
}

.navbar a:hover {
  color: lightblue;
}

/* installlningar för navigatmain page container */
.mainpage .container {
  display: flex;
  background-color: #0151cc;
  color: #fff;
  justify-content: center;
}

/* installlningar för produkt-boxar container */
.boxes .container {
  display: flex;
  justify-content: space-between;
  background-color: #0151cc;
}

.boxes .container .box {
  background: #1f4991;
  color: #fff;
  border-radius: 10px;
  margin: 20px 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
  padding: 15px 20px;
}

.footer .container {
  display: flex;
  background: #3474e6;
  color: #fff;
  height: 60px;
}

/*log image*/
img {
  height: 45px;
  width: 45px;
}